---
layout: default.liquid
---

<h1>Sy Brand</h1>

<h2>Bio</h2>
<p>Sy is a queer non-binary person living in Edinburgh, Scotland.</p>
<p>They write through the haze of cat-/child-induced sleep deprivation to try and make sense of gender, relationships, and ADHD.</p>
<p>You can find them on Twitter <a href="https://twitter.com/tartanllama">@TartanLlama</a>.</p>

<h2>Publications</h2>

<h3>2020</h3>

<ul>
{% for work in collections.20 %}
<li>
    {% if work.data.here %}
    <i><a href="{{work.url}}">{{work.data.title}}</a></i>,
    {% elsif work.data.work-link %}
    <i><a href="{{work.data.work-link}}">{{work.data.title}}</a></i>,
    {% else %}
    <i>{{work.data.title}}</i>,
    {% endif %}
    {% if work.data.issue %}
      <a href={{work.data.where-url}}>{{work.data.where}}</a>, {{work.data.issue}}
    {% else %}
      <a href={{work.data.where-url}}>{{work.data.where}}</a>
    {% else %}
    {% endif %}
    {% if work.data.upcoming %}
        <i>(upcoming)</i>
    {% endif %}
    {% if work.data.notes %}
        <i>({{work.data.notes}})</i>
    {% endif %}
    </li>
{% endfor %}
</ul>

<h3>2019</h3>

<ul>
{% for work in collections.19 %}
<li>
    {% if work.data.here %}
    <i><a href="{{work.url}}">{{work.data.title}}</a></i>,
    {% elsif work.data.work-link %}
    <i><a href="{{work.data.work-link}}">{{work.data.title}}</a></i>,
    {% else %}
    <i>{{work.data.title}}</i>,
    {% endif %}
    {% if work.data.issue %}
      <a href={{work.data.where-url}}>{{work.data.where}}</a>, {{work.data.issue}}
    {% else %}
      <a href={{work.data.where-url}}>{{work.data.where}}</a>
    {% else %}
    {% endif %}
    {% if work.data.upcoming %}
        <i>(upcoming)</i>
    {% endif %}
    {% if work.data.notes %}
        <i>({{work.data.notes}})</i>
    {% endif %}
    </li>
{% endfor %}
</ul>

<h2>Spoken Word Features</h2>
<ul>
    <li><i>Virtual Trans and Enby Pride</i>, July 2020</li>
    <li><a href=https://shows.acast.com/niamh-me-alone/episodes/nma-episode-8><i>Niamh Me Alone</i> podcast, Episode 8, Queer Poetry</a>, June 2020</li>
    <li><i>Malefaction Online Launch Party</i>, May 2020</i>
    <li><i>God is a Womxn</i>, Refugee Women's Centre Fundraiser, January 2020</li>
</ul>

<h2>Other Activities</h2>
<ul>
<li>Editor of <a href="https://code-art.xyz/">code::art</a>.</li>
<li>Co-editor of <a href="https://trashheap.party">trashheap zine</a>.</li>
</ul>
